<!-- FILEPATH: /Users/alex/my/moex_goalgo/web_app/app/views/custom_indicies/index.html.erb -->

<h1>Мои индексы</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @custom_indexes.each do |custom_index| %>
      <tr>
        <td><%= custom_index.name %></td>
        <td>
          <%= link_to "Открыть", custom_index %>
          <% link_to "Delete", custom_index, method: :delete, data: { confirm: "Are you sure you want to delete this custom index?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "chart", locals: { price_lines: @price_lines, benchmark: @benchmark } %>
